@font-face {
  font-family: "Gilroy-Bold";
  src: url("./fonts/Gilroy-Bold.woff2");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("./fonts/Gilroy-Medium.woff2");
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("./fonts/Gilroy-Regular.woff2");
}

@font-face {
  font-family: "Gilroy-Semibold";
  src: url("./fonts/Gilroy-Semibold.woff2");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

/* -------------------------------------------------------- */

header {
  margin-bottom: 40px;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 84px;
}

.navigation {
  width: 533px;
  display: flex;
  justify-content: space-between;
}

.link__red {
  font-family: "Gilroy-SemiBold";
  font-size: 14px;
  line-height: 16px;
  color: #f25822;
}

.link {
  font-family: "Gilroy-SemiBold";
  font-size: 14px;
  line-height: 16px;
  color: #000;
}

main {
  margin-bottom: 162px;
}

.main_content {
  display: flex;
  justify-content: space-between;
}

.main__info__left {
  width: 522px;
}

.main__title {
  font-family: "Gilroy-Bold";
  font-size: 60px;
  line-height: 70px;
  color: #000000;
  margin-bottom: 17px;
}

.text {
  width: 466px;
  font-family: "Gilroy-Medium";
  font-size: 20px;
  line-height: 23px;
  color: #888888;
  margin-bottom: 37px;
}

.buttons {
  display: flex;
  gap: 72px;
}

.btn {
  font-family: "Gilroy-Bold";
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

.left__btn {
  background: #f25822;
  box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
  border-radius: 50px;
  padding: 15px 35px;
  border: none;
}

.right__btn {
  color: #aaaaaa;
  border: none;
  background: none;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

footer {
  padding-top: 96px;
  margin-bottom: 96px;
}

.logos {
  display: flex;
  justify-content: space-between;
}
